{% extends "repos/base.html" %}

{% block content %}
<div class="form-container">
    <h1>Welcome Back</h1>
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                    <div class="helptext">{{ field.help_text }}</div>
                {% endif %}
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary" style="width: 100%; margin-top: 1rem;">Login</button>
    </form>
    <div class="auth-links">
        Don't have an account? <a href="{% url 'signup' %}">Sign up here</a>
    </div>
</div>
{% endblock %}